body{

}
.Título{
background-color: rgb(73, 212, 212);  
font-family: 'Open Sans', sans-serif;
font-size: 30px;
display: flex;
}
h1{
  text-align: center;
  color: white;
}
img{
    width: 75px;
}
.titulo1{
    padding-left: 600px;

}